*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/java/biz/eastservices/tumpang/PayPalConfig.java
/app/google-services.json
/app/src/debug/res/values/google_maps_api.xml
